extends ../layout

block content
	.container
			.row
				.col-lg-12.text-center
					h1 Current Groups
					each val, index in groups
						p Name: #{val.name}
						p Buy-In Price: #{val.price}
						p
							a.delete-group.btn(role='button', data-toggle='modal', href="#joinModal") Join Group
							a.delete-group.btn(role='button', data-toggle='modal', href="#leaveModal") Leave Group
							a.delete-group.btn(role='button', href="/groups/edit/#{val.id}") Edit Group
							a.delete-group.btn(role='button', data-toggle='modal', href="#deleteModal") Delete Group
						.modal.fade(id='deleteModal', role='dialog', aria-labelledby='deleteModalLabel', aria-hidden='true')
							.modal-dialog
								.modal-content
									.modal-header
										button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
										h4.modal-title Are You Sure You Want to Delete This Group?
									.modal-body
										h3 This Cannot Be Undone. Close to Go Back.
									.modal-footer
										form(name='id', method='POST', action='/groups/delete/#{val.id}')
											.actions
												input(type='submit', value='Delete Group', class='update-button')
						.modal.fade(id='leaveModal', role='dialog', aria-labelledby='leaveModalLabel', aria-hidden='true')
							.modal-dialog
								.modal-content
									.modal-header
										button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
										h4.modal-title Are you sure you want to leave this group?
									.modal-footer
										form(name='id', method='GET', action='/groups/leave/#{val.id}')
											.actions
												input(type='submit', value='Leave Group', class='update-button')
						.modal.fade(id='joinModal', role='dialog', aria-labelledby='joinModalLabel', aria-hidden='true')
							.modal-dialog
								.modal-content
									.modal-header
										button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
										h4.modal-title Are You Sure You Want to Join This Group?
									.modal-footer
										form(name='id', method='POST', action='/groups/join/#{val.id}')
											.actions
												input(type='submit', value='Join Group', class='update-button')
	block footer
	// jQuery Version 1.11.1
	script(src='../../scripts/jquery.min.js')
	// Bootstrap Core JavaScript
	script(src='../../scripts/bootstrap.min.js')
